div {
    width: 200px;
    height: 210px;
    border: 2px solid red;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 0;
    left: 200px;
    color: red;
}
.bt {
    width: auto;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid red;
    text-align: center;
    padding: 10px 0;
    color: red;
    background-color: white;
}
#btn_1 {
    height: 60px;
    padding: 15px 10px;
    position: fixed;
    left: 110px;
    top: 250px;
}
#btn_2 {
    position: fixed;
    left: 350px;
    top: 260px;
}